<template>
    <li class="track track--stagger">
        <div class="track__flex">
            <div
                :class="isAdded ? 'track__image--disabled' : ''"
                class="track__image">
                <img
                    :src="result.album.images[2].url" 
                    :alt="`Artwork for ${result.name} by ${result.artists[0].name}.`"
                >
            </div>
            <div
                :class="isAdded ? 'track__detail--disabled' : ''"
                class="track__detail">
                <p class="no-m-bot text-color-light">{{ result.name }}</p><p class="no-m-bot text-color-light">{{ result.artists[0].name }}</p>
            </div>
            <button
                type="button"
                class="button button--reset button--add"
                @click.once="addToPlaylist(result)"
                :disabled="isAdded ? true : false"
            >
                <span class="visuallyhidden">Add {{ result.name }} by {{ result.artists[0].name }} to playlist.</span>
            </button>
        </div>
    </li>
</template>

<script>
export default {
    props: ['result'],
    data() {
        return {
            isAdded: false
        }
    },
    methods: {
        addToPlaylist(track) {
            this.$socket.emit('addToPlaylist', track);
            this.isAdded = true;

            this.$emit('cancelSearch');
        }
    }
}
</script>
