<template>
    <div
        class="search-results"
        :class="active ? 'search-results--active' : ''"
    >
        <div class="search-results__list">
            <div class="wrap">
                <ul>
                    <result
                        v-for="(result, index) in results"
                        :key="result.id"
                        :index="index"
                        :result="result"
                        v-on:cancelSearch="cancelSearch" 
                    />
                </ul>
                <div
                    v-if="results.length === 0 && resultsLoaded"
                    class=""
                    >
                    <p class="text-color-light">No results, please try searching again&hellip;</p>
                    <p class="text-size-small text-color-light">Ensure that your search is for a complete song title. You cannot currently search by artist.</p>    
                </div>
                <div class="search-results__auto-page-trigger js-auto-page-trigger"></div>
            </div>
        </div>
    </div>
</template>

<script>
import Result from './result.vue';

export default {
    components: {
        Result
    },
    props: ['results', 'resultsLoaded', 'active'],
    methods: {
        cancelSearch() {
            this.$emit('cancelSearch');
        }
    }
}
</script>
