<template>
    <div class="search">
        <div class="wrap">
            <div class="pos-rel">
                <label class="visuallyhidden">Search for your favourite song.</label>
                <input
                    v-model="query"
                    @keyup="search"
                    @focus="searchAreaActive = true"
                    class="search__input text-size-regular"
                    placeholder="Click here to search…"
                >
                <div
                    v-if="searchAreaLoading">
                    <div class="search__loading">
                        <div class="loader loader--mini loader--on-primary"></div>
                    </div>
                </div>
                <div
                    v-if="searchAreaActive"
                    @click="cancelSearch()"
                    class="search__close">
                    <button
                        type="button"
                        class="button button--reset button--close">
                        <span class="visuallyhidden">Close search</span>
                    </button>
                </div>
            </div>
        </div>
        <results
            :results="results"
            :resultsLoaded="resultsLoaded"
            :active="searchAreaActive"
            v-on:cancelSearch="cancelSearch"
        />
    </div>
</template>

<script>
import { debounce } from 'debounce';
import Results from './results.vue';

export default {
    sockets: {
        searchResults(data) {
            if (data.paging) {
                this.results = this.results.concat(data.json.tracks.items);
            } else {
                this.results = [];
                this.next = null

                this.results = data.json.tracks.items;
                this.resultsLoaded = true;
            }
            this.next = data.json.tracks.next ? data.json.tracks.next : null;
            this.searchAreaLoading = false;
        }
    },
    components: {
        Results
    },
    data() {
        return {
            searchAreaActive: false,
            searchAreaLoading: false,
            resultsLoaded: false,
            query: null,
            next: null,
            results: []
        }
    },
    methods: {
        search: debounce(
            function(data) {
                this.searchAreaLoading = true;

                this.$socket.emit('search', {
                    socketID: this.$socket.id,
                    query: data.target.value
                });
            },
        1500),
        page: debounce(
            function(endpoint) {
                this.$socket.emit('page', {
                    socketID: this.$socket.id,
                    endpoint: endpoint
                });
            },
        100),
        cancelSearch() {
            this.searchAreaActive = false;
            this.searchAreaLoading = false;
            this.resultsLoaded = false;
            this.query = null;
            this.results = [];
        },
        autoPage() {
            const trigger = document.querySelector('.js-auto-page-trigger');
            const intersectionObserver = new IntersectionObserver(trigger => {
                if (!trigger[0].intersectionRatio <= 0) {
                    this.page(this.next);
                }   
            });

            intersectionObserver.observe(trigger);
        }
    },
    mounted() {
        this.autoPage();
    }
}
</script>
