<template>
    <div>
        <search/>
        <playlist/>
    </div>
</template>

<script>
import Search from './search/search.vue';
import Playlist from './playlist/list.vue';

export default {
    components: {
        Search,
        Playlist
    }
}
</script>
