.button {
    cursor: pointer;
}

    .button--reset {
        @extend .reset-button;
    }

    .button--add {
        position: relative;
        width: rem(50);
        height: rem(50);
        transition: 0.25s ease-in-out;

        &[disabled] {
            opacity: 0.25;
        }
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            top: rem(22.5);
            left: rem(12.5);
            width: 50%;
            height: rem(5);
            background-color: var(--c-text-light);
        }

        &::after {
            transform: rotate(90deg);
        }
    }

    .button--close {
        width: rem(50);
        height: rem(50);
        
        &::before,
        &::after {
            content: '';
            position: absolute;
            right: 0;
            width: 100%;
            height: rem(5);
            background-color: var(--c-default)
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }
