.loader {
    width: rem(48);
    height: rem(48);
    border-radius: 100%;
    border: rem(8) solid var(--c-main);
    border-top-color: var(--c-primary);
    animation: loader 1s linear infinite;

    @keyframes loader {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

    .loader--mini {
        width: rem(24);
        height: rem(24);
        border-width: rem(4);
    }

    .loader--on-primary {
        border-top-color: var(--c-tertiary);
    }
