body {
    font-family: 'cormorant', serif;
    font-size: rem(24);
    line-height: 1.2;
    color: var(--c-text-default);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
    &:not(:last-of-type):not(.no-m-bot) {
        margin-bottom: 1em;
    }
}

.text-size-small {
    font-size: rem(16);
}

.text-size-regular {
    font-size: rem(24);
}

.text-size-large {
    font-size: rem(32);
}

.text-color-light {
    color: var(--c-text-light);
}
