.wrap {
    margin: 0 auto;
    width: percentage(359 / 375);

    @media (min-width: #{bp(map-get($breakpoints, large))}) {
        width: percentage(1280 / 1440);
        max-width: rem(1280);
    }
}
