.playlist {
    position: relative;
    overflow: auto;
}

    .playlist__list {
        height: calc(100vh - #{rem(96)}); // height of .search
    }

    .playlist__loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
