.search-results {
    position: absolute;
    top: rem(96);
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: var(--c-primary);
    transform: translateX(-100%);
    transition: .25s ease-in-out;
}

    .search-results--active {
        transform: translateX(0);
    }

    .search-results__list {
        height: calc(100vh - #{rem(96)});
        overflow: auto;
    }

    .search-results__item {
        padding: rem(32);
    }

    .search-results__auto-page-trigger {
        display: none;

        .search-results--active & {
            display: block;
            transform: translateY(#{rem(-500)});
        }
    }
