.search {
    position: relative;
    background-color: var(--c-primary);
    height: rem(96);
}

    .search__input {
        @extend .reset-input-text;

        width: 100%;
        padding: rem(32) 0;
        color: var(--c-text-light);
        background-color: transparent;
        
        &::placeholder {
            color: var(--c-text-light);
            transition: 0.25s ease-in-out;
        }

        &:focus {
            outline: none;

            &::placeholder {
                opacity: 0.25;
            }
        }
    }

    .search__loading {
        position: absolute;
        top: rem(32);
        right: rem(64);
    }

    .search__close {
        position: absolute;
        right: 0;
        top: rem(20);
    }