.track {
    padding: rem(16) 0;

    &:not(:last-of-type) {
        border-bottom: rem(1) solid var(--c-tertiary);
    }
}

    .track--stagger {
        opacity: 0;
        transform: translateX(-24px);
        animation: stagger .25s linear forwards;

        @keyframes stagger {
            0% {
                opacity: 0;
                transform: translateX(-24px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }

        @for $i from 1 through 20 {
            &:nth-of-type(#{$i}) {
                animation-delay: #{$i * 0.1}s;
            }
        }
    }

    .track__flex {
        display: flex;
        align-items: center;
        margin: 0 rem(8);
    }

    .track__image {
        margin-right: rem(16);
        max-width: rem(64);
        transition: opacity 0.25s ease-in;
    }

        .track__image--disabled {
            opacity: 0.25
        }

    .track__detail {
        width: calc(100% - #{rem(80)});
        white-space: pre;
        overflow: auto;
        transition: opacity 0.25s ease-in;
    }

        .track__detail--disabled {
            opacity: 0.25;
        }