@import "reset-css";

.reset-button {
    appearance: none;
    padding: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
}

.reset-input-text {
    appearance: none;
    padding: 0;
    border: none;
    font-family: inherit;
    line-height: inherit;
}