<template>
    <li class="track">
        <div class="track__flex">
            <div class="track__image">
                <img
                    :src="item.track.album.images[2].url" 
                    :alt="`Artwork for ${item.track.name} by ${item.track.artists[0].name}.`"
                >
            </div>
            <div class="track__detail">
                <p class="no-m-bot">{{ item.track.name }}</p><p class="no-m-bot">{{ item.track.artists[0].name }}</p>
            </div>
        </div>
    </li>
</template>

<script>
export default {
    props: ['item']
}
</script>