<template>
    <div class="playlist">
        <div class="wrap">
            <div v-if="!items">
                <div class="playlist__loading">
                    <div class="loader"></div>
                    <span class="visuallyhidden">Loading playlist&hellip;</span>
                </div>
            </div>
            <ul class="playlist__list">
                <item
                    v-for="(item, index) in items"
                    :key="item.id"
                    :index="index"
                    :item="item"
                />
            </ul>
        </div>
    </div>
</template>

<script>
import Config from '../../../config.js';
import Item from './item.vue';

export default {
    components: {
        Item
    },
    sockets: {
        newTrack(track) {
            setTimeout(() => {
                this.items.unshift({track});
            }, 250);
        }
    },
    data() {
        return {
            items: null
        }
    },
    methods: {
        getData() {
            fetch(`${Config.host}/cache/playlist.json`)
            .then(res => {
                if (!res.ok) throw new Error('Error: ', res.status); 
                return res.json();
            })
            .then(json => {
                this.items = json.items.reverse();
            })
        }
    },
    mounted() {
        this.getData();
    }
}
</script>